<div class="container mt-2">

  <div class="row">
    <!-- <div class="col-sm" style="font-size: 13px; margin-left: 9px; background-color: #f5d682; border: 1px solid orange; border-radius: 2em;">
      {{member.username}}
    </div> -->
    <p><button class="btn userLabel"> {{member.username}} </button></p>
      
    
    <div class="col-sm pull-right  text-right">
      <img src="assets/images/backup_start.png" (click)="onRetryUpload()" class="btn_start_bakcup"/>

      <button type="submit" class="btn btn-info btn-sm" style="margin-right:5px;" (click)="onStartBrowser()" *ngIf="memberPrivate" style="display: none;">
        백업관리
      </button>

      <button type="submit" class="btn btn-danger btn-sm" style="margin-right:5px;" (click)="onRetryUpload()" style="display: none;">
        백업시작
      </button>

      <button type="submit" class="btn btn-primary btn-sm" (click)="onLogout()" style="display: none;">
        로그아웃
      </button>

    </div>
  </div>
</div>


<div class="tabs" style="margin-top: 20px;">
  <input (click)="onTab(0)" id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all">ZIP</label>

  <input (click)="onTab(1)" id="programming" type="radio" name="tab_item">
  <label class="tab_item" for="programming">Folder 2</label>

  <input (click)="onTab(2)" id="design" type="radio" name="tab_item">
  <label class="tab_item" for="design">Folder 3</label>

  <div class="tab_content" id="all_content">
    <div class="container mt-2" style="margin-bottom:100px">
      <div class="alert alert-dark  d-flex justify-content-between align-items-center" role="alert"
        style="height:50px;font-size:12px;">
        <div>
          <span *ngIf="showingFolderName!==undefined && showingFolderName.length!=0">
            <span *ngIf="rootFolderData!=null && rootFolderData.userData.errorMessage!=null"
              class="badge badge-danger badge-pill">
              {{rootFolderData.userData.errorMessage}}
            </span>
            {{showingFolderName}}
          </span>
          <span *ngIf="showingFolderName.length==0">백업할 폴더를 선택하세요</span>
        </div>
        <div class="float-right">

          <button type="button" class="btn btn-secondary btn-sm" (click)="onChangeFolder(0)"
            *ngIf="selectedFolderIndex==0">폴더선택
          </button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="onChangeFolder(1)"
            *ngIf="selectedFolderIndex==1">폴더선택
          </button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="onChangeFolder(2)"
            *ngIf="selectedFolderIndex==2">폴더선택
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="tab_content" id="programming_content">
    <div class="container mt-2" style="margin-bottom:100px">
      <div class="alert alert-dark  d-flex justify-content-between align-items-center" role="alert"
        style="height:50px;font-size:12px;">
        <div>
          <span *ngIf="showingFolderName!==undefined && showingFolderName.length!=0">
            <span *ngIf="rootFolderData!=null && rootFolderData.userData.errorMessage!=null"
              class="badge badge-danger badge-pill">
              {{rootFolderData.userData.errorMessage}}
            </span>
            {{showingFolderName}}
          </span>
          <span *ngIf="showingFolderName.length==0">백업할 폴더를 선택하세요</span>
        </div>
        <div class="float-right">

          <button type="button" class="btn btn-secondary btn-sm" (click)="onChangeFolder(0)"
            *ngIf="selectedFolderIndex==0">폴더선택
          </button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="onChangeFolder(1)"
            *ngIf="selectedFolderIndex==1">폴더선택
          </button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="onChangeFolder(2)"
            *ngIf="selectedFolderIndex==2">폴더선택
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="tab_content" id="design_content">
    <div class="container mt-2" style="margin-bottom:100px">
      <div class="alert alert-dark  d-flex justify-content-between align-items-center" role="alert"
        style="height:50px;font-size:12px;">
        <div>
          <span *ngIf="showingFolderName!==undefined && showingFolderName.length!=0">
            <span *ngIf="rootFolderData!=null && rootFolderData.userData.errorMessage!=null"
              class="badge badge-danger badge-pill">
              {{rootFolderData.userData.errorMessage}}
            </span>
            {{showingFolderName}}
          </span>
          <span *ngIf="showingFolderName.length==0">백업할 폴더를 선택하세요</span>
        </div>
        <div class="float-right">

          <button type="button" class="btn btn-secondary btn-sm" (click)="onChangeFolder(0)"
            *ngIf="selectedFolderIndex==0">폴더선택
          </button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="onChangeFolder(1)"
            *ngIf="selectedFolderIndex==1">폴더선택
          </button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="onChangeFolder(2)"
            *ngIf="selectedFolderIndex==2">폴더선택
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=".small" style="font-size:75%; margin-top:10px; margin-left: 60px; color: lightgray;">&copy; <span (click)="onLogout()">Data</span>Keeper</div>






<!-- <div class="tabs" style="margin-top: 20px;">

  <div>
    <tabset>
      <tab (selectTab)="onTab(0)">
        <ng-template tabHeading>
          <input id="all" type="radio"name="tab_item" checked>
          <label class="tab_item" for="all">FOLDER 1</label>
        </ng-template>
      </tab>

      <tab (selectTab)="onTab(1)">
        <ng-template tabHeading>
          <input id="programming" type="radio"name="tab_item">
          <label class="tab_item" for="programming">FOLDER 2</label>
        </ng-template>
      </tab>

      <tab (selectTab)="onTab(2)">
        <ng-template tabHeading>
          <input id="design" type="radio"name="tab_item">
          <label class="tab_item" for="design">FOLDER 3</label>
        </ng-template>
      </tab>
    </tabset>

    <div class="container mt-2" style="margin-bottom:100px">
      <div class="alert alert-dark  d-flex justify-content-between align-items-center" role="alert"
        style="height:50px;font-size:12px;">
        <div>
          <span *ngIf="showingFolderName!==undefined && showingFolderName.length!=0">
            <span *ngIf="rootFolderData!=null && rootFolderData.userData.errorMessage!=null"
              class="badge badge-danger badge-pill">
              {{rootFolderData.userData.errorMessage}}
            </span>
            {{showingFolderName}}
          </span>
          <span *ngIf="showingFolderName.length==0">백업할 폴더를 선택하세요</span>
        </div>
        <div class="float-right">

          <button type="button" class="btn btn-secondary btn-sm" (click)="onChangeFolder(0)"
            *ngIf="selectedFolderIndex==0">폴더선택
          </button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="onChangeFolder(1)"
            *ngIf="selectedFolderIndex==1">폴더선택
          </button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="onChangeFolder(2)"
            *ngIf="selectedFolderIndex==2">폴더선택
          </button>
        </div>
      </div>


    </div>
  </div>

</div> -->



<app-log></app-log>