.kk-folder-item {
  font-size: 12px;
  font-weight: bold;

  img {
    width: 12px;
  }
}

.kk-file-item {
  font-size: 12px;
}


.version {
  margin-right: 10px;
  z-index: 1500;
  text-align: right;
  font-size: 10px;
  font-weight: bold;
  color: white;
}
