.list-group-item {
  padding:5px 10px;
  color: #FFF;
  border: none;
  // font-family: 'Inconsolata', monospace;
  font-family: 'Inconsolata';
  font-size: 12px;
  background-color: #333333;
  width: 100%;
  transition: .1s;
  // font-weight: bolder;
}
