.list-group-item {
  padding:5px 10px;
  color: #FFF;
  border: none;
  font-family: 'Inconsolata', monospace;
  font-size: 10pt;
  background-color: rgba(8, 29, 56, 0.9);
  width: 100%;
  transition: .2s;
  font-weight: bolder;
  letter-spacing: .5px;
}
